<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
    <title>ćwiczenie 1</title>
</head>

<body>
<div class="header">
  <h2>
      <a href="../upload">upload</a>
      <a href="../filemanager">filemanager</a>
      <a href="../info">info</a>
  </h2>
</div>

    {{{body}}}

</body>

</html>