<h1>multiupload</h1>

<div id="form">
    <form id="form" enctype="multipart/form-data" method="POST" action="/handleUpload">
            <input style="width:300px;" type="file" required accept="*/*" name="imagetoupload" multiple>
            <input class="input" type="submit" value="upload">
    </form>
</div>